.app {
  text-align: center;
}

#hero-section {
  margin: 1rem auto;
  padding: 2rem 10rem;
}

#hero-section h1 {
  font-weight: bolder;
  font-size: 4em;
  margin: 2rem 0;
}

#hero-section p {
  margin: 1.5rem 0;
}